version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      all:
        patterns:
          - "*"
    ignore:
      - dependency-name: "serverless"
        # Starting with version 4, serverless requires a license key
        versions: [ "4.x"]
