name: Build and deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  id-token: write  # Required for OIDC
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        middyVersion: ["2.x", "3.x", "4.x", "5.x", "6.x"]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ^7.17.1
      - name: Install
        run: pnpm install --frozen-lockfile=false
      - name: Install middy version ${{ matrix.middyVersion }}
        run: |
          pnpm add @middy/core@${{ matrix.middyVersion }}
          pnpm add @middy/http-error-handler@${{ matrix.middyVersion }}
          pnpm add @middy/http-header-normalizer@${{ matrix.middyVersion }}
      - name: Build
        run: pnpm run build
      - name: Build documentation
        run: |
          pnpm run docs
          touch ./docs/.nojekyll
      - name: Lint
        run: pnpm run lint
      - name: Run unit tests
        run: pnpm run test:unit
      - name: Upload code coverage to codecov
        uses: codecov/codecov-action@v5
      - name: Run integration tests
        run: pnpm run test:integration

  publish:
    needs: build
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ^7.17.1
      - name: Install
        run: pnpm install --frozen-lockfile=false
      - name: Build
        run: pnpm run build
      - name: Set git credentials
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
      - name: Publish
        uses: cycjimmy/semantic-release-action@v5
        with:
          semantic_version: 25
          branches: main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
