name: Build and deploy

on:
  pull_request:
    branches: [main]

jobs:
  lint-pr-title:
    runs-on: ubuntu-latest
    steps:
      - name: Lint PR title
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
