name: Release

on:
  push:
    branches: [main]

permissions:
  # For OIDC / provenance if needed
  id-token: write
  # Push tags/CHANGELOG, create releases
  contents: write
  # Comment on issues/PRs via release notes
  issues: write

concurrency: release

jobs:
  test:
    uses: run-tests.yml

  publish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.x

      - name: Update npm (ensure >= 11.5.1)
        run: npm install -g npm@latest

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ^7.17.1

      - name: Install
        run: pnpm install --frozen-lockfile=false

      - name: Build
        run: pnpm run build

      - name: Set git credentials
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      - name: Publish
        uses: cycjimmy/semantic-release-action@ba330626c4750c19d8299de843f05c7aa5574f62 # v5.0.2
        with:
          semantic_version: 25.0.1
          branches: main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
